:root {
  --main-bg-color: #000000; 
  --text-color: #00ff00;
  --highlight-color: #00ff00; 
  --secondary-highlight: #ffffff; 
  --btn-bg-color: #000000;
  --btn-border-color: #00ff00;
  --btn-hover-color: #00ff00;
  --ghost-color: #ffffff;
  --ghost-color-transparent: #ffffff50;
  --ghost-border-highlight: #00ff00;
  --input-bg-color: #333333; 
  --input-icon-color: #00ff00; 
  --social-bg-color: #00ff00;
  --social-hover-bg-color: #008000; 
  --link-color: #00ff00; 
  --link-hover-color: #ffffff; 
  --overlay-gradient: linear-gradient(to right, #000000, #00ff00); 
  --soft-blue: #00bfff;
  --soft-blue-hover: #00bfff96;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg-color);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color); 
  border-radius: 10px; 
  border: 2px solid var(--main-bg-color); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--link-hover-color); 
}

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--highlight-color) var(--main-bg-color); 
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 20px;
    border: 1px solid var(--btn-border-color); 
    background-color: var(--ghost-color-transparent); 
    border-radius: 15px;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

main h1 i {
    margin-right: 10px;
    color: var(--secondary-highlight); 
    transition: color 0.3s ease, transform 0.3s ease;
}

main h1:hover i {
    color: var(--highlight-color); 
    transform: rotate(10deg); 
}


main h2 {
    font-family: sans-serif;
    font-size: 18px;
    color: var(--secondary-highlight); ;
}

main img.reset-logo {
    margin: 20px 0;
    width: 100px;
    height: auto;
}

main input[type="password"],
main input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 5px;
}

main input[type="password"]:hover,
main input[type="password"]:focus,
main input[type="text"]:hover,
main input[type="text"]:focus {
    border-color: var(--input-icon-color);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 15px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.5);
}

main .btn {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--btn-bg-color);
    color: var(--ghost-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

main .btn:hover {
    color: var(--secondary-highlight);
    background-color: var(--btn-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

main .back-to-login {
    text-decoration: none;
    color: var(--secondary-highlight); ;
    font-size: 14px;
}

main .back-to-login span {
    color: var(--highlight-color); 
}

main .back-to-login:hover span {
    color: var(--link-hover-color); 
    text-decoration: underline;
}

.fa-lock-open,
.fa-lock {
    color: var(--ghost-color);
    cursor: pointer;
    transition: ease-out 2s;
}

.fa-lock-open:hover,
.fa-lock:hover {
    color: var(--main-bg-color);
}

#N-lock,
#C-lock {
    display: none;
}

#N-lock {
    position: absolute;
    left: 4%;
    top: 57%;
}

#C-lock {
    position: absolute;
    left: 4%;
    top: 69%;
}