:root {
  --main-bg-color: #000000; 
  --text-color: #00ff00;
  --highlight-color: #00ff00; 
  --secondary-highlight: #ffffff; 
  --btn-bg-color: #000000;
  --btn-border-color: #00ff00;
  --btn-hover-color: #00ff00;
  --ghost-color: #ffffff;
  --ghost-border-highlight: #00ff00;
  --input-bg-color: #333333; 
  --input-icon-color: #00ff00; 
  --social-bg-color: #00ff00;
  --social-hover-bg-color: #008000; 
  --link-color: #00ff00; 
  --link-hover-color: #ffffff; 
  --overlay-gradient: linear-gradient(to right, #000000, #00ff00); 
}

body {
  background: var(--main-bg-color);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
  display: flex;
}

.form-container {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}

.container h1 {
  font-weight: bold;
  margin: 0;
}

.container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container span {
  font-size: 12px;
}

.container a {
  color: var(--link-color);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container a:hover {
  color: var(--link-hover-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
}

button {
  border-radius: 10px;
  border: 1px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: var(--btn-bg-color);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button.Sghost, button.Lghost {
  background-color: transparent;
  border-color: var(--ghost-color);
}

button.Sghost:hover {
  text-decoration: underline;
  border: 1px solid var(--ghost-border-highlight);
}

button.Lghost:hover {
  text-decoration: underline;
  border: 1px solid var(--ghost-border-highlight);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

#S-btn, #L-btn {
  background: var(--btn-bg-color);
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 15px;
  font-weight: lighter;
  border: 3px solid var(--btn-border-color);
  color: var(--ghost-color);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 30px;
}

#S-btn:hover, #L-btn:hover {
  transform: translate(-0.05em, -0.05em);
  color: var(--btn-hover-color);
  box-shadow: 0.15em 0.15em;
}

#S-btn:active, #L-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.container form {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container input {
  background-color: var(--input-bg-color);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-container input {
  width: calc(100% - 30px);
  padding-right: 30px;
}

.input-container i {
  position: absolute;
  left: 93%;
  color: var(--input-icon-color);
  cursor: pointer;
  display: none;
}

.input-container i:hover {
  color: var(--btn-bg-color);
}

.gender {
  display: none;
}

.fa-lock-open, .fa-lock {
  color: var(--input-icon-color);
  cursor: pointer;
  transition: ease-out 2s;
}

.fa-lock-open:hover, .fa-lock:hover {
  color: var(--btn-bg-color);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--overlay-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--ghost-color);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}


